.Dashboard main {
  min-height: calc(100% - 56px);
}
.Dashboard .sidebar {
  background: #574b90;
  color: white;
}
.Dashboard .sidebar ul {
  width: 100%;
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}
.Dashboard .sidebar ul li {
  width: 100%;
  text-align: center;
  font-size: 18px;
  letter-spacing: -0.3px;
  font-weight: 600;
  padding: 10px 0;
  /* margin-bottom: 15px; */
  cursor: pointer;
}
.Dashboard .sidebar ul li:hover,
.Dashboard .sidebar ul li.active {
  background: #fc85ae;
}

.mainContent {
  padding: 30px !important;
}
